.cont_tables {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF0F0;
    justify-content: space-evenly;
    font-family: "Montserrat Alternates", sans-serif;
    gap: 20px;

    .reverse {
        transform: rotate(-90deg);

        p {
            transform: rotate(90deg);
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .table_box {
        position: relative;
        width: 50px;
        height: 50px;

        .grid-balls {
            width: 60px;
            height: 80px;
            position: absolute;
            top: -10px;
            left: -5px;
            display: grid;
            gap: 20px;
            grid-template-columns: 20px 20px;
        }

        input[type=radio] {
            display: none;
        }

        label {
            position: relative;
            z-index: 10;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            user-select: none;
            background-color: rgb(136, 136, 136);
            transition: 0.5s;
            transform: rotate(45deg);
            p{
                transform: rotate(-45deg);
            }
        }

        input[type=radio]:checked+label {
            background: #00000000;
            border: 1px solid #FFF0F0;
        }

        label:hover {
            color: rgb(255, 255, 255);
            background-color: #afafafac;
        }

        input[type=radio]:disabled+label {
            background-color: rgba(138, 49, 49, 0.459);
        }
    }

    .table {
        position: relative;
        width: 70px;
        height: 50px;

        .grid-balls {
            padding: 0 5px;
            width: 100%;
            height: 80px;
            position: absolute;
            top: -10px;
            left: 0;
            display: grid;
            gap: 20px;
            grid-template-columns: 20px 20px;
        }

        input[type=radio] {
            display: none;
        }

        label {
            position: relative;
            z-index: 10;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            user-select: none;
            background-color: rgb(136, 136, 136);
            transition: 0.5s;
        }

        input[type=radio]:checked+label {
            background: #00000000;
            border: 1px solid #FFF0F0;
        }

        label:hover {
            color: rgb(255, 255, 255);
            background-color: #afafafac;
        }

        input[type=radio]:disabled+label {
            background-color: rgba(138, 49, 49, 0.459);
        }
    }

    .cher {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #b9b9b96a;
    }

    .column {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;

        .big_table {
            position: relative;
            width: 100px;
            height: 50px;
            margin-top: 15px;

            .grid-balls {
                padding: 0 5px;
                width: 100%;
                height: 80px;
                position: absolute;
                top: -10px;
                left: 0;
                display: grid;
                column-gap: 15px;
                row-gap: 20px;
                grid-template-columns: 20px 20px 20px;
            }

            input[type=radio] {
                display: none;
            }

            label {
                position: relative;
                z-index: 10;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: none;
                border-radius: 10px;
                user-select: none;
                background-color: rgb(136, 136, 136);
                transition: 0.5s;
            }

            input[type=radio]:checked+label {
                background: #00000000;
                border: 1px solid #FFF0F0;
            }

            label:hover {
                color: rgb(255, 255, 255);
                background-color: #afafafac;
            }

            input[type=radio]:disabled+label {
                background-color: rgba(138, 49, 49, 0.459);
            }
        }
    }
}