$white: #FFF0F0;
.container_reservation {
    height: 100vh;
    position: relative;
    flex-direction: column;
    width: 100%;
    background-image: url('../../assets/reservation.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    color: $white;

    .start_reserv {
        width: 84%;
        height: 80px;
        border-radius: 20px;
        margin-bottom: 50px;
        border: none;
        font-size: 35px;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 600;
        font-style: normal;
        cursor: pointer;
        text-decoration: none;
        background-color: #6b6b6ba8;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        user-select: none;
    }
    .self_unrender{
        width: 100%;
        height: 50vh;
        position: absolute;
        top: 0;
    }
    .active{
        transform: translateY(-70vh);
    }
    .black_box{
        width: 100%;
        position: absolute;
        bottom: -70vh;
        background-color: rgb(25, 25, 25);
        font-family: "Montserrat Alternates", sans-serif;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        padding: 20px 0 30px 0;
        justify-content: space-evenly;
        border-radius: 15px 15px 0 0;
        transition: 0.7s;
        transition-timing-function: ease-in-out;
        .seeMenu{
            width: 140px;
            padding: 5px 0;
            font-size: 20px;
            text-align: center;
            padding: 10px;
            border: none;
            border-radius: 10px;
            background-color: #FFF0F0;
            cursor: pointer;
            margin: 0 auto;
        }
        .data_holder{
            width: 86%;
            display: flex;
            justify-content: baseline;
            align-items: center;
            justify-content: space-between;
            .del_inf{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                color: white;
                background-color: #3c673c96;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 40px;
                    transform: rotate(45deg);
                }
            }
        }
        
        h2{
            font-size: 20px;
            
        }
        .add_reserv{
            background-color: #3C673C;
            font-family: "Montserrat Alternates", sans-serif;
            color: $white;
            width: 70px;
            height: 70px;
            font-size: 45px;
            font-weight: 400;
            border: none;
            border-radius: 50%;
            cursor: pointer;
        }
        p{
            text-align: center;
        }
    }
}

.modal-home{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 100;
    top:  0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000093;
    font-family: "Montserrat Alternates", sans-serif;
    backdrop-filter: blur(5px);
    .mini_cont{
        width: 50%;
        border-radius: 20px;
        min-width: 300px;
        padding: 0 10px 40px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #3C673C;
        color: #FFF0F0;
        .logo_name_box{
            .go_back{
                .arr_transform{
                    font-size: 30px;
                    font-family: serif;
                }
            }
        }
        p{
            margin-bottom: 40px;
            font-size: 22px;
            text-align: center;
        }
        .row{
            width: 100%;
            display: flex;
            justify-content: space-around;
            button{
                min-width: 110px;
                width: 30%;
                height: 40px;
                font-size: 20px;
                font-weight: 500;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: 0.5s;
            }
            .btn1{
                background-color: rgb(141, 32, 32);
                color: #FFF0F0;
                &:hover{
                    background-color: rgb(161, 55, 55);
                }
            }
            .btn2{
                background-color: rgb(174, 174, 174);
            }
        }
    }
}

@media screen and (max-width: 500px){
    .container_reservation{
      .start_reserv{
        height: 60px;
        border-radius: 10px;
        font-size: 22px;
    }  
    }
}