.container_menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: white;
    align-items: center;
    width: 100%;
    padding: 10px 40px 10px 60px;
    position: relative;
    height: 72vh;
    overflow-y: scroll;
    box-sizing: content-box;
    gap: 10px;
    font-family: "Montserrat Alternates", sans-serif;
    .no_res{
        font-size: 25px;
        margin-top: 40px;
        padding: 5px;
        font-family: "Montserrat Alternates", sans-serif;
    }

    .food_box {
        width: 85%;
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        padding: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;
        user-select: none;
        h2{
            min-width: 210px;
            width: 80%;
            padding: 10px;
            text-align: center;
            background-color: white;
            color: black;
            border-radius: 15px;
            font-weight: 600;
            text-transform: uppercase;
        }

    }
}

.black {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D2A2A;
    height: 20vh;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.463);
}

.absolut{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    display: flex;
    justify-content: start;
    z-index: 100;
    .rightside_bar{
        height: 100vh;
        width: 20%;
    }
    .leftside_menu{
        width: 80%;
        height: 100%;
        background-color: rgba(5, 5, 5, 0.67);
        backdrop-filter: blur(5px);
        display: flex;
        align-items: center;
        justify-content: center;
        .links{
            height: 80%;
            width: 60%;
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .smart_link{
                text-decoration: none;
                color: white;
                cursor: pointer;
                transition: 0.3s;
                padding: 5px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 20px;
                font-family: "Montserrat Alternates", sans-serif;
                .go{
                    color: rgba(255, 235, 205, 0);
                    transition: 0.4s;
                }
                &:hover{
                    .go{
                        color: white;
                    }
                }
            }
        }
    }
}
.hidden{
    left: -100%;
}
.onlook{
    left: -0%;
}

.bar_menu{
    width: 30px;
    height: 27px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    .line{
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: #FFF0F0;
        transition: 0.5s;
        position: relative;
    }
    .line1{
        transform: rotate(405deg);
        top: 8px;
    }
    .line2{
        background-color: #fff0f000;
    }
    .line3{
        transform: rotate(-405deg);
        bottom: 7px;
    }
}