.container_reservation{
    height: 100vh;
    width: 100%;
    background-image: url('reservation.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}